In [ ]:
#From the following Cross-Sectional Dataframe 'df_cross_section' having column head as "company" , "2023" , "2024"
#Create the following Panel Dataframe 'df_panel' in the format such that it has column head as " Company" , "Year" , "Profit"

In [ ]:
import pandas as pd
data = {
    'Company': ['ZYX', 'WVU', 'TSR'],
    2023: [123, 456, 789],
    2024: [321, 654, 987]
}
df_cross_section = pd.DataFrame(data)

# Melt the Cross-Sectional DataFrame to transform it into the Panel DataFrame format
df_panel = pd.melt(df_cross_section, id_vars='Company', var_name='Year', value_name='Profit')

# Display the Panel DataFrame 'df_panel'
print("Panel DataFrame:")
print(df_panel)

Panel DataFrame:
  Company  Year  Profit
0     ZYX  2023     123
1     WVU  2023     456
2     TSR  2023     789
3     ZYX  2024     321
4     WVU  2024     654
5     TSR  2024     987